body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background: url ('https://raw.githubusercontent.com/Alexa-boo/dubai-souvenir/refs/heads/main/2025-02-03%2017.42.01.jpg');
    color: white;
}

header {
    margin-bottom: 20px;
}

.weather {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

h1, h2 {
    margin: 10px 0;
}

p {
    font-size: 20px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}
